.dark{
	background-color: #333;
	transition: .3s;

	.page-view{
		color: #fff;
	}

	.navbar-scrolled-theme{
		background-color: #333;

		.nav-item a.active, .nav-item a:hover{
			border-bottom: 2px solid #fff;
		}

		.theme-switch-label{
			color: #fff;

			#switch-ball{
				background-color: #fff;
			}
		}
	}

	.habilidade, .contato, #scrollTop{
		background-color: #fff;
		color: #333;
	}

	.footer-menu{
		background-color: #fff;
		font-size: 1.1em;
		padding: 25px;
	}

	
	@media screen and (max-width: 767px){
		.navbar-header .navbar-collapse{
			background-color: #333;
			border-radius: 10px;
		}
		.theme-switch-label{
			color: #fff;

			#switch-ball{
				background-color: #fff;
			}
		}
	}
}