
$bg-theme: #000;
$color-theme: #2acdff;

.dark{
	background-color: $bg-theme;
	transition: .3s;

	.navbar-scrolled-theme{
		background-color: $color-theme !important;
		color: #fff;

		.nav-item a.active, .nav-item a:hover{
			border-bottom: 2px solid;
		}

		.nav-link{
			color: $bg-theme !important;
		}

		.theme-switch-label{
			color: #fff;

			#switch-ball{
				background-color: #fff;
			}
		}
	}

	.habilidade, .contato, #scrollTop{
		background-color: #fff;
		color: #333;
	}

	.footer-menu{
		background-color: #fff;
		font-size: 1.1em;
		padding: 25px;
	}

	.pagetop-image img{
		width: 100%; 
	}

	
	@media screen and (max-width: 767px){
		.navbar-header .navbar-collapse{
			border-radius: 10px;
		}
		.theme-switch-label{
			color: #fff;

			#switch-ball{
				background-color: #fff;
			}
		}

		.pagetop{
			.row{
				margin-top: 100px !important;
			}
		}

		.pagetop-image img{
			max-width: 360px;
		}
	}
}