
.light{
	background-color: #fff;
	transition: .3s;

	.page-view{
		color: $dark;
	}

	.navbar-toggler.colapsed{
		span{
			font-size: 1.5em;
			font-weight: 600;
		}
	}

	.navbar-toggler:not(.navbar-scrolled-theme .navbar-toggler) {
		color: #fff;
		border-color: #fff;
	}

	.navbar-scrolled-theme{
		background-color: #fff;

		.nav-item a{
			color: #8e8fa0 !important;

			&.active, &:hover{
				color: #333;
				border-bottom: 2px solid #333;
			}
		}

		.navbar-toggler {
			color: #333;
			border-color: #333;
		}


		.theme-switch-label{
			color: #333;

			#switch-ball{
				background-color: #333;
			}
		}
	}

	.habilidade, .contato, #scrollTop{
		background-color: #333;
		color: #fff;
	}

	.footer-menu{
		background-color: #333;
		color: #fff;
		font-size: 1.1em;
		padding: 25px;
	}

	@media screen and (max-width: 767px){
		.navbar-header .navbar-collapse{
			background-color: #fff;
			border-radius: 10px;
			
			.nav-item a{
				color: #333;
			}
		}
		.theme-switch-label{
			color: #333;

			#switch-ball{
				background-color: #333;
			}
		}
	}
}